/*--------- Additional Responsive Style Start -----------*/

.text-xs-left {
  text-align: left;
}
.text-xs-right {
  text-align: right;
}
.text-xs-center {
  text-align: center;
}
.text-xs-justify {
  text-align: justify;
}
.center-xs-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.left-xs-block {
  display: block;
  margin-right: auto;
  margin-left: inherit;
}
.right-xs-block {
  display: block;
  margin-right: inherit;
  margin-left: auto;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
  .center-sm-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .left-sm-block {
    display: block;
    margin-right: auto;
    margin-left: inherit;
  }
  .right-sm-block {
    display: block;
    margin-right: inherit;
    margin-left: auto;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
  .center-md-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .left-md-block {
    display: block;
    margin-right: auto;
    margin-left: inherit;
  }
  .right-md-block {
    display: block;
    margin-right: inherit;
    margin-left: auto;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
  .center-lg-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .left-lg-block {
    display: block;
    margin-right: auto;
    margin-left: inherit;
  }
  .right-lg-block {
    display: block;
    margin-right: inherit;
    margin-left: auto;
  }
}

/*--------- Additional Responsive Style End -----------*/

.paddingmarginZero {
  padding: 0;
  margin: 0;
}

/* header area style */

.headerStyle {
  background-color: #0000;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 58px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f7f7f7;
}

/* Navigation area style */

.navbar {
  /*margin-bottom: 0px;*/
  background-color: white;
}

/* Cover Area style */

/*.jumbotron {
  background: url('../images/header-bg.jpg') no-repeat center center;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}*/
/*.container .jumbotron, .container-fluid .jumbotron {
  /*border-radius: 0px;*/
  /*}*/
.sidebarStyle {
  /*background-color: #A7D97E;*/
  /* margin-bottom:30px; */
  width: 125px;
  height: 100%;
  background: #89c23b;
  /*position: fixed;*/
  /*change top, if change the header height*/
  top: 58;
  position: absolute;
  left: 0;
  z-index: 4;
  clear: both;
}
.sidebarStyle ul li a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;

  margin: auto;
  text-align: center;
}

.sidebarStyle ul li a:hover{
  background-color: #75ad29;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #75ad29;
}

.contentAreaStyle {
  background-color: #E8E8C2;
  height: 400px;
  text-align: center;
}

.menu-icon-clients {
  background: url('../images/clients.png') no-repeat center center;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.menu-icon-offer {
  background: url('../images/offer.png') no-repeat center center;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.menu-icon-reports {
  background: url('../images/reports.png') no-repeat center center;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.contentAreaStyle
{
  background-color: #E8E8C2;
  height: 400px;
  text-align: center;
}
.footer1Style
{
  background-color: #7d7e7d;
  color: #dddddd;
  height: 150px;
  text-align: center;
}
.footer2Style
{
  background-color: #5C5C5C;
  color: #dddddd;
  height: 150px;
  text-align: center;
}
.footerCopyRightStyle
{
  background-color: #373737;
  color: #dddddd;
  height: 30px;
  text-align: center;
}

.resultText, .resultInfo
{
  width: 24%;
  position: relative;
  float:left;
  font-size:14px;
  line-height:24px;
}
.resultInfoRight
{
  width: 40%;
  position: relative;
  float: right;
  text-align: right;
}

html {
  position: relative;
  min-height: 100%;
}
html body {
  background-color:#FFF;
  font-family: 'Open Sans', sans-serif;
}

.validation-error {
  color: red;
  display: inline-block;
  padding: 6px
}
.sidebar-footer {
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
}

.login-wrapper{
  float:right;
  padding-right: 10px;
  padding-top: 3px;
}

.login-icon {
  background: url('../images/login.png') no-repeat center center;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.login-icon:hover {
  background: url('../images/login-hover.png') no-repeat center center;
}

.header-wrapper{
  list-style:none;
  padding:0;
  overflow:auto;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
