<div ng-controller="OfferClientDataCtrl as vm">
  <h1>Данни за клиента</h1>
  <form class="form-horizontal">
    <h3>1. Статус на документ</h3>
    <div class="form-group">
      <label class="control-label col-xs-2" for="requestType">Тип искане</label>
      <div class="col-xs-5">
        <select class="form-control" id="requestType" ng-model="vm.requestType">
          <option value="new">Искане за нов кредит</option>
          <option value="new">Искане за промени по кредит</option>
        </select>
      </div>
    </div>
    <hr>
    <h3>2. Данни за кредитоискателя</h3>
    <div class="form-group">
      <label class="control-label col-xs-2" for="name">Наименование</label>
      <div class="col-xs-5">
        <input class="form-control" id="name" ng-model="vm.name" placeholder="Наименование" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-2" for="statut">Статут</label>
      <div class="col-xs-5">
        <input class="form-control" id="statut" ng-model="vm.statut" placeholder="Статут" type="text">
      </div>
    </div>
    <div class="form-inline">
      <div class="form-group">
        <label class="control-label col-xs-5" for="court">Регистриран в търговския регистър при</label>
          <input class="form-control" id="court" ng-model="vm.court" placeholder="Наименование на съд" type="text">съд
      </div>
      <div class="form-group">
        <label class="control-label col-xs-5" for="caseNumber">Фирмено делно N/ГГГГ</label>
          <input class="form-control" id="caseNumber" ng-model="vm.caseNumber" placeholder="Номер на дело" type="text">
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-10">
        <button class="btn btn-primary" type="submit">Запиши офертата</button>
      </div>
    </div>
  </form>

  <a class="btn btn-success" role="button" ui-sref="offerClientData">Продължи</a>

</div>
