<div ng-controller="OfferCtrl as vm">
  <div class="col-md-12" style="margin-top: 30px; margin-bottom: 20px;">

    <div id="newApplicationPanel">

      <div class="col-md-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <label for="cleintType">Тип оферта</label>
          </div>
          <div class="panel-body">
            <select class="form-control" id="offerType" ng-change="vm.filterClientType()" ng-model="vm.clientTypes.selected" ng-options="option.name for option in vm.clientTypes.availableOptions track by option.id"></select>
          </div>
        </div>
      </div>

      <div class="col-md-8">

        <div class="panel panel-default ">
          <div class="panel-heading">
            Търсене:
          </div>

          <div id="searchIndividual" ng-hide="vm.clientTypes.selected.id == 1">
            <div class="panel-body">
              <label for="searchByEgn">ЕГН</label>
              <div angucomplete-alt id="searchByEgn" input-class="form-control" local-data="vm.allApplications" match-class="highlight" minlength="2" pause="100" placeholder="ЕГН" search-fields="egn" selected-object="vm.autoCompleteCompleted" title-field="egn"></div>

              <label for="searchByName">Име</label>
              <div angucomplete-alt id="searchByName" input-class="form-control" local-data="vm.allApplications" match-class="highlight" minlength="2" pause="100" placeholder="Име" search-fields="firstName" selected-object="selectedApplication" title-field="firstName"></div>

              <label for="searchByLastName">Фамилия</label>
              <div angucomplete-alt id="searchByLastName" input-class="form-control" local-data="vm.allApplications" match-class="highlight" minlength="2" pause="100" placeholder="Фамилия" search-fields="lastName" selected-object="selectedApplication" title-field="lastName"></div>
            </div>
          </div>

          <div id="searchLegal" ng-hide="vm.clientTypes.selected.id == 0">
            <div class="panel-body">
              <label for="searchByEgn">ЕИК (БУЛСТАТ)</label>
              <div angucomplete-alt id="searchByEgn" input-class="form-control" local-data="vm.allApplications" match-class="highlight" minlength="2" pause="100" placeholder="ЕИК (БУЛСТАТ)" search-fields="eik" selected-object="selectedApplication" title-field="eik"></div>

              <label for="searchByEgn">ДДС</label>
              <div angucomplete-alt id="searchByEgn" input-class="form-control" local-data="vm.allApplications" match-class="highlight" minlength="2" pause="100" placeholder="ДДС" search-fields="dds" selected-object="selectedApplication" title-field="dds"></div>

              <label for="searchByName">Име на фирма</label>
              <div angucomplete-alt id="searchByName" input-class="form-control" local-data="vm.allApplications" match-class="highlight" minlength="2" pause="100" placeholder="Име на фирма" search-fields="company" selected-object="selectedApplication" title-field="company"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-4 form-padding">
        <fieldset ng-show="vm.clientTypes.selected.id == 0" id="fsIndividualEntity">
          <h3>Физическо Лице</h3>

          <label for="input-01">ID</label>
          <input class="form-control text-margin" id="input-01" ng-model="vm.applicationInfo.id" placeholder="" type="text">

          <label for="input-02">Име</label>
          <input class="form-control text-margin" id="input-02" ng-model="vm.applicationInfo.firstName" placeholder="" type="text">

          <label for="input-03">Фамилия</label>
          <input class="form-control text-margin" id="input-03" ng-model="vm.applicationInfo.lastName" placeholder="" type="text">

          <label for="input-03">ЕГН</label>
          <input class="form-control text-margin" id="input-03" ng-model="vm.applicationInfo.egn" placeholder="" type="text">
        </fieldset>

        <fieldset ng-show="vm.clientTypes.selected.id == 1" id="fsLegalEntity">
          <h3>Юридическо Лице</h3>

          <label for="input-01">ID</label>
          <input class="form-control text-margin" id="input-01" ng-model="vm.applicationInfo.id" placeholder="" type="text">

          <label for="input-02">Име на Фирма</label>
          <input class="form-control text-margin" id="input-02" ng-model="vm.applicationInfo.company" placeholder="" type="text">

          <label for="input-03">ЕИК</label>
          <input class="form-control text-margin" id="input-03" ng-model="vm.applicationInfo.eik" placeholder="" type="text">

          <label for="input-04">ДДС</label>
          <input class="form-control text-margin" id="input-04" ng-model="vm.applicationInfo.dds" placeholder="" type="text">
        </fieldset>
      </div>

      <div class="col-md-4 form-padding">
        <h3>Оферта</h3>

        <label for="input-05">Дата на кредит</label>
        <input class="form-control text-margin" id="input-05" ng-model="vm.applicationInfo.dateAdded" placeholder="" type="text">

        <label for="input-06">Регион</label>
        <input class="form-control text-margin" id="input-06" ng-model="vm.applicationInfo.region" placeholder="" type="text">

        <label for="input-07">Филиал</label>
        <input class="form-control text-margin" id="input-07" ng-model="vm.applicationInfo.branch" placeholder="" type="text">
      </div>

      <div class="col-md-4 form-padding">
        <h3>Оператор</h3>

        <label for="input-08">ID</label>
        <input class="form-control text-margin" disabled id="input-08" type="text" value="{{ vm.operator.id }}">

        <label for="input-09">Име и Фамилия</label>
        <input class="form-control text-margin" disabled id="input-09" type="text" value="{{ vm.operator.name }}">

        <label for="input-10">Телефон</label>
        <input class="form-control text-margin" disabled id="input-10" type="text" value="{{ vm.operator.phone }}">
      </div>
    </div>
  </div>

  <h1>Оферта</h1>

  <!-- OFFER FORM -->
  <form class="form-horizontal" id="offerForm" name="offerForm" ng-submit="vm.makeOffer()" novalidate style="width:70%">

    <!-- LOAN TYPE -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="loanType">Лихвен модел:</label>
      <div class="col-xs-5">
        <select class="form-control" id="loanType" name="loanType" ng-model="vm.applicationInfo.offerType" ng-selected="1">
          <option>{{ vm.offerModels[0] }}</option>
          <option>{{ vm.offerModels[1] }}</option>
        </select>
      </div>
    </div>

    <!-- LOAN -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="loan">Заем:</label>
      <div class="col-xs-5">
        <input class="form-control" id="loan" maxlength="15" name="loan" ng-model="vm.loan" placeholder="Заем" required type="text">
      </div>
      <span class="validation-error" ng-if="vm.loan && !vm.validateTotalSum(vm.loan)">Невалиден заем!</span>
    </div>

    <!-- INTEREST % -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="interest">Лихва %:</label>
      <div class="col-xs-5">
        <input class="form-control" id="interest" maxlength="6" ng-minlength=1 ng-model="vm.interest" placeholder="Лихва" required type="text">
      </div>
      <span class="validation-error" ng-if="vm.interest && !vm.validateTotalSum(vm.interest)">Невалидна лихва!</span>
    </div>

    <!-- NUMBER OF PAYMENTS PER YEAR -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="paymentPerMonth">Брой вноски на година:</label>
      <div class="col-xs-5">
        <input class="form-control" id="payment-per-month" maxlength="2" ng-minlength=1 ng-model="vm.numpayments" placeholder="Брой вноски на година" required type="text">
      </div>
      <span class="validation-error" ng-if="vm.numpayments && !vm.validatePositiveInteger(vm.numpayments)">Въведи между 1 и 12 дена!</span>
    </div>

    <!-- YEARS -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="years">Години:</label>
      <div class="col-xs-5">
        <input class="form-control" id="years" maxlength="3" ng-model="vm.years" placeholder="Години" required type="text">
      </div>
      <span class="validation-error" ng-if="vm.years && !vm.validatePositiveInteger(vm.years)">Невалиден брой години!</span>
    </div>

    <!-- CURRENCY -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="currency">Валута:</label>
      <div class="col-xs-5">
        <select class="form-control" id="currency" ng-model="vm.selectedCurrency.name" ng-options="c.code as c.name for c in vm.currencies"></select>
      </div>
    </div>

    <!-- GRATIS PERIOD -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="gratis">Гратисен период в месеци:</label>
        <div class="col-xs-5">
          <input class="form-control" id="gratis" ng-model="vm.gratis" placeholder="Гратисен период"
           type="text" required>
        </div>
        <!-- TODO: VALIDATION -->
        <span ng-if=""
        class="validation-error">Невалиден период!</span>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-5" for="promotional">Промоционални условия</label>
    </div>

    <!-- PROMOTIONAL PERIOD -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="promotional">Промоционален период в месеци:</label>
        <div class="col-xs-5">
          <input class="form-control" id="promotional" ng-model="vm.promotional" placeholder="Промоционален период"
           type="text" required>
        </div>
        <!-- TODO: VALIDATION -->
        <span ng-if=""
        class="validation-error">Невалиден период!</span>
    </div>

    <!-- PROMOTIONAL INTEREST -->
    <div class="form-group">
      <label class="control-label col-xs-2" for="promotional_interest">Промоционална лихва:</label>
        <div class="col-xs-5">
          <input class="form-control" id="promotional_interest" ng-model="vm.promotional_interest" placeholder="Промоционален период"
           type="text" required>
        </div>
        <!-- TODO: VALIDATION -->
        <span ng-if=""
        class="validation-error">Невалиден!</span>
    </div>


    <!-- BUTTON -->
    <div class="form-group">
      <div class="col-xs-10">
        <button class="btn btn-primary" data-ng-disabled="!vm.validateForm()" ng-click="vm.showData()" type="submit">Изчисли Оферта</button>
      </div>
    </div>

  </form>

  <!-- DATA  -->
  <div class="ng-hide" id="dataField" style="width:70%">
    <hr>
    <div class="resultText">
      <b>Дължима сума</b>:</div>
    <span class="resultInfo" id="totalSum">
      <b>{{vm.offerTable[0].totalAmount | number:2}}
        {{vm.selectedCurrency.name}}</b>
    </span>
    <br style="clear:both">
    <div class="resultText">35 месечни вноски от:</div>
    <span class="resultInfo" id="monthlyPayment">{{vm.offerTable[0].payment | number:2}}
      {{vm.selectedCurrency.name}}</span>
    <br style="clear:both">
    <div class="resultText">Цяла лихва:</div>
    <span class="resultInfo" id="totalInterest">{{vm.offerTable[0].totalInterest | number:2}}
      {{vm.selectedCurrency.name}}</span>
    <br style="clear:both">
    <div class="resultText">Сума на заема:</div>
    <span class="resultInfo" id="loanAmount">
      {{vm.offerTable[0].startBalance | number:2}}
      {{vm.selectedCurrency.name}}</span>
    <br style="clear:both">
    <div class="resultText">Лихвa %:</div>
    <span class="resultInfo" id="interestPercent">{{vm.interest}}%</span>
    <br style="clear:both">
    <!-- <div class="resultText">Ефективна годишна лихва:</div>
    <span class="resultInfo">12.68%</span> -->
    <hr>
    <div class="btn btn-success" id="create_pdf_up" ng-click="vm.printPDF()" role="button">Изтегли PDF</div>
    <hr>
    <!--TABLE  -->
    <table class="table table-striped table-bordered table-condensed" id="table">
      <thead>
        <th>Номер на вноска</th>
        <th>Сума на заема</th>
        <th>Главница на вноска</th>
        <th>Лихва на вноска</th>
        <th>Вноска</th>
      </thead>
      <tbody>
        <tr ng-repeat="data in vm.offerTable">
          <td>{{data.month}}</td>
          <td>{{data.startBalance | number:2}}</td>
          <td>{{data.principal | number:2}}</td>
          <td>{{data.interest | number:2}}</td>
          <td>{{data.payment | number:2}}</td>
        </tr>
      </tbody>
    </table>
    <div class="btn btn-success" ng-click="vm.saveApplication()" role="button">Запиши</div>
    <div class="btn btn-success" id="create_pdf" ng-click="vm.printPDF()" role="button">Изтегли PDF</div>
    <hr>
  </div>
</div>
