<div class="row" ng-controller="ClientsCtrl as vm">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Alert</h3>
        </div>
        <div class="modal-body">
            Please confirm you want to delete the client with ID: {{clientId}}?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="page-header col-md-10 col-md-offset-1" style="margin-top: 30px; margin-bottom: 30px;">
        <h1>Clients</h1>
    </div>

    <div class="col-lg-12 col-md-6 col-xs-12" style="margin-top: 30px;">
        <a href="#/client/individual" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New</a>
    </div>

    <div class="col-lg-12 col-md-6 col-xs-12" style="margin-top: 30px;">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Search" ng-model="searchClient">

                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                            ID
                            <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'company_name_bg'; sortReverse = !sortReverse">
                            Company (BG)
                            <span ng-show="sortType == 'company_name_bg' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'company_name_bg' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'company_name_en'; sortReverse = !sortReverse">
                            Company (EN)
                            <span ng-show="sortType == 'company_name_en' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'company_name_en' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'mol'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'mol' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'mol' && sortReverse" class="fa fa-caret-up"></span>
                            Responsible Person
                        </a>
                    </td>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                            URN
                        </a>
                    </td>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'num_dds'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'num_dds' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'num_dds' && sortReverse" class="fa fa-caret-up"></span>
                            VAT
                        </a>
                    </td>
                    <td>
                        <a href="#/clients" ng-click="sortType = 'number_accounting'; sortReverse = !sortReverse">
                            <span ng-show="sortType == 'number_accounting' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'number_accounting' && sortReverse" class="fa fa-caret-up"></span>
                            Accounting Number
                        </a>
                    </td>
                    <td></td>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="c in getClients() | orderBy:sortType:sortReverse | filter:searchClient">
                    <td>{{ c.id }}</td>
                    <td>{{ c.company_name_bg }}</td>
                    <td>{{ c.company_name_en }}</td>
                    <td>{{ c.mol }}</td>
                    <td>{{ c.eik }}</td>
                    <td>{{ c.num_dds }}</td>
                    <td>{{ c.number_accounting }}</td>
                    <td>
                        <a ng-href="#/editClient/{{c.id}}" tooltip="Edit" class="glyphicon glyphicon-edit" style="font-size: 20px; margin-right: 5px; text-decoration: none;"></a>
                        <span tooltip="Delete" class="text-danger"><i class="glyphicon glyphicon-remove" ng-click="delete(c.id)" style="font-size: 20px"></i></span>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
