<div style="background: #fff; width: 100%; height: 100%;">
  <script type="text/ng-template" id="addEditAddressContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Address</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="row">
				<div class="col-lg-7 col-md-6 col-xs-12">
					<!-- <label>Тип</label> -->
					<select class="form-control text-margin" ng-model="addr.address_type" ng-options="x.id as x.name for x in address_types" ngSe>
						<option value="" selected>- Address type -</option>
					</select>
				</div>

				<div class="col-lg-6 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="City" ng-model="addr.city">
				</div>

				<div class="col-lg-6 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Street" ng-model="addr.street">
				</div>

				<div class="col-lg-12 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Phones" ng-model="addr.phone">
				</div>

				<div class="col-lg-6 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Fax" ng-model="addr.fax">
				</div>

				<div class="col-lg-6 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="e-mail" ng-model="addr.email">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<!--Delete address dialog-->
<script type="text/ng-template" id="deleteAddressContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Alert</h3>
	</div>
	<div class="modal-body">
		Сигурни ли сте, че искате да изтриете този адрес?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>


<!--Add/Edit Employee dialog-->
<script type="text/ng-template" id="addEditEmployeeContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Employee</h3>
	</div>
	<div class="modal-body">
		<form>
			<div class="row">
				<!-- <div class="col-lg-7 col-md-6 col-xs-12"> -->
				<div class="col-lg-4 col-md-6 col-xs-12">
					<!-- <label>Тип</label> -->
					<select class="form-control text-margin" ng-model="employee.title" ng-options="x.id as x.name for x in titles">
						<option value="" selected>- Title -</option>
					</select>
				</div>

				<div class="col-lg-4 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Name" ng-model="employee.first_name">
				</div>

				<div class="col-lg-4 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Family" ng-model="employee.last_name">
				</div>

				<div class="col-lg-12 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Phones" ng-model="employee.phone">
				</div>

				<div class="col-lg-6 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Mobile" ng-model="employee.mobile">
				</div>

				<div class="col-lg-6 col-md-6 col-xs-12">
					<input type="text" class="form-control" placeholder="Company position" ng-model="employee.company_position">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Save</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>

<!--Delete Employee dialog-->
<script type="text/ng-template" id="deleteEmployeeContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Alert</h3>
	</div>
	<div class="modal-body">
		Сигурни ли сте, че искате да изтриете този служител?
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>
  <uib-tabset>

      <uib-tab heading="Информация">
        <div class="page-header col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
            <h1>Физическо лице</h1>
        </div>
        <form name="registerIndividualClientForm" ng-submit="vm.registerClient()" novalidate>

          <div class="col-md-4 form-padding">
            <label for="input-02">ID Клиентски номер</label>
            <input class="form-control text-margin" disabled id="input-02" ng-model="vm.client.clientId" type="text" >
          </div>

          <div class="col-md-12 form-padding">
            <h3>Данни за кредитоискателя</h3>
          </div>

          <div class="col-md-4 form-padding">

            <label for="input-07">Име</label>
            <span ng-if="vm.client.first_name && !vm.containsOnlyLetters(vm.client.first_name)" style="color:red">Невалидно име</span>
            <input class="form-control text-margin" id="input-07" placeholder="Задължително" required type="text" ng-model="vm.client.first_name">

            <label for="col2-input-2">Презиме</label>
            <span ng-if="vm.client.middle_name && !vm.containsOnlyLetters(vm.client.middle_name)" style="color:red">Невалидно презиме!</span>
            <input class="form-control text-margin" id="col2-input-2" ng-model="vm.client.middle_name" type="text" placeholder="Задължително" required>

            <label for="col2-input-09">Фамилия</label>
            <span ng-if="vm.client.last_name && !vm.containsOnlyLetters(vm.client.last_name)" style="color:red">Невалиднa фамилия!</span>
            <input class="form-control text-margin" id="col2-input-09" type="text" placeholder="Задължително" required ng-model="vm.client.last_name">


            <label for="col1-input-05">ЕГН</label>
            <span ng-if="vm.client.egn && !vm.checkEgn(vm.client.egn) && vm.client.egn.length >=10" style="color:red">Невалиден ЕГН!</span>
            <span ng-if="vm.client.egn && vm.client.egn.length < 10" style="color:red">Невалидна дължина (10)</span>
            <input class="form-control text-margin" id="col1-input-05" placeholder="Задължително" required ng-change="vm.client.sex=''; vm.client.birth_date = ''" ng-model="vm.client.egn" type="text">

          </div>

          <div class="col-md-4 form-padding">

            <label for="col2-input-2">НЛК</label>
            <span ng-if="vm.client.document_number && !vm.containsOnlyDigits(vm.client.document_number)" style="color:red">Невалиден ЛКН!</span>
            <input class="form-control text-margin" id="col2-input-2" ng-model="vm.client.document_number" type="text" placeholder="Задължително" required>

            <label>ЕИК</label>
            <span ng-if="vm.client.eik && !vm.checkEik(vm.client.eik)" style="color:red;">Невалиден ЕИК!</span>
            <input class="form-control text-margin" id="col3-input-3" ng-model="vm.client.eik" ng-change="vm.client.num_dds=''" type="text" required>

            <label>Националност</label>
            <select class="form-control text-margin">
              <option selected>Bulgarian</option>
              <option ng-repeat="nacionality in vm.nationalities">{{nacionality}}</option>
            </select>

          </div>

          <div class="col-md-4 form-padding">

            <label>Дата на раждане</label>
            <input class="form-control text-margin" disabled id="col3-input-3" ng-model="vm.client.birth_date" type="text" >

            <label>Пол</label>
            <input class="form-control text-margin" disabled id="col3-input-3" ng-model="vm.client.sex" type="text" >

            <label>ДДС №</label>
            <input class="form-control text-margin" id="col3-input-3" type="text" ng-model="vm.client.num_dds" disabled>

            <label>ЗП Регистрационен номер</label>
            <input class="form-control text-margin" disabled id="col3-input-3" type="text" >
          </div>

          <div class="col-md-12 form-padding">
            <h3>Адрес за кореспонденция</h3>
          </div>

          <div class="col-md-4 form-padding">
            <label for="col2-input-09">Улица</label>
            <input class="form-control text-margin" id="col2-input-09" type="text" ng-model="vm.client.addresses[0].street">

            <label for="col3-input-3">Град</label>
            <input class="form-control text-margin" id="col3-input-3" type="text" ng-model="vm.client.addresses[0].city">
          </div>

          <div class="col-md-4 form-padding">
            <label for="col2-input-09">Област</label>
            <input class="form-control text-margin" id="col2-input-09" type="text" ng-model="vm.client.addresses[0].region">

            <label for="col3-input-3">Пощенски код</label>
            <input class="form-control text-margin" id="col3-input-3" type="text" ng-model="vm.client.addresses[0].post_code">
          </div>

          <div class="col-md-4 form-padding">
            <label for="col2-input-09">Държава</label>
            <input class="form-control text-margin" id="col2-input-09" type="text" ng-model="vm.client.addresses[0].country">

            <label for="col3-input-3">Телефон</label>
            <input class="form-control text-margin" id="col3-input-3" type="text" ng-model="vm.client.addresses[0].phone">
          </div>

          <div class="col-md-12" style="padding-top: 30px;">
            <button class="btn btn-default" type="button" name="backBtn" ng-click="vm.back()">Обратно</button>
            <input class="btn btn-success"  type="submit" ng-disabled="!vm.checkRequiredFields()" value="Запази"/>
          </div>
        </form>
      </uib-tab>
      <uib-tab heading="Адреси">
        <div style="background: #fff; width: 100%; height: 100%;">
			<div class="col-md-10 col-md-offset-1" style="padding-top: 30px;">
				<div class="col-md-4 form-padding">
					<button class="btn btn-default" ng-click="vm.back()"><span class="glyphicon glyphicon glyphicon-chevron-left"></span> Обратно</button>
					<button class="btn btn-success" style="margin-left: 20px;" ng-click="createAddress()"><span class="glyphicon glyphicon glyphicon-floppy-saved"></span> Запази</button>
				</div>
			</div>

			<div class="col-md-12 col-md-offset-1" style="margin-top: 30px; margin-bottom: 10px; padding-left: 30px;">
				<button class="btn btn-success" ng-click="vm.createAddress()"><span class="glyphicon glyphicon-plus"></span> Нов Адрес</button>
			</div>

			<div class="col-md-10 col-md-offset-1">

				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr class="text-primary">
							<td>Тип</td>
							<td>Град</td>
							<td>Улица</td>
							<td>Телефон</td>
							<td>Факс</td>
							<td>Поща</td>
							<td></td>
						</tr>
						</thead>

						<tbody>
							<tr ng-repeat="addr in client.addresses">
								<td>{{getAddressType(addr.address_type)}}</td>
								<td>{{addr.city}}</td>
								<td>{{addr.street}}</td>
								<td>{{addr.phone}}</td>
								<td>{{addr.fax}}</td>
								<td>{{addr.email}}</td>
								<td>
									<span tooltip="Edit" class="text-info"><i class="glyphicon glyphicon-edit" ng-click="editAddress(addr)" style="font-size: 20px; margin-right: 5px;"></i></span>
									<span tooltip="Delete" class="text-danger"><i class="glyphicon glyphicon-remove" ng-click="deleteAddress(addr)" style="font-size: 20px;"></i></span>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
      </uib-tab>
      <uib-tab heading="Служители">
        <div style="background: #fff; width: 100%; height: 100%;">
			<div class="col-md-10 col-md-offset-1" style="padding-top: 30px;">
				<div class="col-md-4 form-padding">
					<button class="btn btn-default" ng-click="back()"><span class="glyphicon glyphicon glyphicon-chevron-left"></span> Обратно</button>
					<button class="btn btn-success" style="margin-left: 20px;" ng-click="saveClientDetails()"><span class="glyphicon glyphicon glyphicon-floppy-saved"></span> Запази</button>
				</div>
			</div>

			<div class="col-md-12 col-md-offset-1" style="margin-top: 30px; margin-bottom: 10px; padding-left: 30px;">
				<button href="#" class="btn btn-success" ng-click="createEmployee()"><span class="glyphicon glyphicon-plus"></span> Нов Служител</button>
			</div>

			<div class="col-md-10 col-md-offset-1">

				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr class="text-primary">
							<td>Титла</td>
							<td>Име</td>
							<td>Фамилия</td>
							<td>Телефон</td>
							<td>Мобилен</td>
							<td>Позиция</td>
							<td></td>
						</tr>
						</thead>

						<tbody>
							<tr ng-repeat="employee in client.employees">
								<td>{{getEmployeeTitle(employee.title)}}</td>
								<td>{{employee.first_name}}</td>
								<td>{{employee.last_name}}</td>
								<td>{{employee.phone}}</td>
								<td>{{employee.mobile}}</td>
								<td>{{employee.company_position}}</td>
								<td>
									<span tooltip="Edit" class="text-info"><i class="glyphicon glyphicon-edit" ng-click="editEmployee(employee)" style="font-size: 20px; margin-right: 5px;"></i></span>
									<span tooltip="Delete" class="text-danger"><i class="glyphicon glyphicon-remove" ng-click="deleteEmployee(employee)" style="font-size: 20px;"></i></span>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
      </uib-tab>
    </uib-tabset>
</div>
