<div style="background: #fff; width: 100%; height: 100%;">
  <tabset>
    <tab heading="Информация">
        <div class="page-header col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
            <h1>Юридическо лице</h1>
        </div>

        <div class="col-md-12 form-padding">
            <h3>Данни за кредитоискателя</h3>
        </div>

        <div class="col-md-4 form-padding">
          <!-- <input type="text" id="input-06" class="form-control"> -->

          <label for="input-07">Име на компанията</label>
          <input type="text" id="input-03" class="form-control text-margin" id="input-07" placeholder="" value="{{ vm.client.company_name_en }}">

          <label for="col1-input-05">Юридическа форма</label>
          <input type="text" id="col1-input-05" class="form-control text-margin" placeholder="" value="{{ vm.client.legal_form }}">
        </div>

        <div class="col-md-4 form-padding">
          <label for="col2-input-05">Отрасъл</label> <!-- TODO: add data to the menu -->
          <select class="form-control text-margin">
            <option ng-repeat="b in vm.client.branches">{{ b }}</option>
          </select>

          <label for="col2-input-2">Дата на стартиране на дейността</label>
          <input type="text" id="col2-input-2" class="form-control text-margin" value="{{ vm.client.starter_date }}" >

        </div>

        <div class="col-md-4 form-padding">
          <label for="col2-input-09">Собственици – брой</label>
          <input type="text" id="col2-input-09" class="form-control text-margin" value="{{ vm.client.owners_count }}">

          <label for="col3-input-3">Служители – брой</label>
          <input type="text" id="col3-input-3" class="form-control text-margin" value="{{ vm.client.employees.length }}" >

        </div>

        <div class="col-md-4 form-padding">
          <label>ЕИК №:</label>
          <input type="text" id="col3-input-3" ng-model="vm.client.eik" ng-change="vm.client.num_dds=''" class="form-control text-margin" value="{{ vm.client.eik }}" >

        </div>

        <div class="col-md-4 form-padding">
          <label>ДДС №:</label>
          <input type="text" disabled id="col3-input-3" class="form-control text-margin" value="{{ vm.client.num_dds }}" >
        </div>

        <div class="col-md-4 form-padding">
          <label>Рискова група</label>
          <select class="form-control text-margin">
            <option ng-repeat="b in vm.client.risk_groups">{{ b }}</option>
          </select>
        </div>

        <div class="col-md-4 form-padding">
          <label>ЗП Регистрационен номер</label>
          <input type="text" disabled id="col3-input-3" class="form-control text-margin" value="{{ vm.client.zp_reg_number }}" >
        </div>

        <div class="col-md-12 form-padding">
            <h3>Адрес за кореспонденция</h3>
        </div>

        <div class="col-md-4 form-padding">
          <label for="col2-input-09">Улица</label>
          <input type="text" id="col2-input-09" class="form-control text-margin" value="{{ vm.client.addresses[0].street }}">

          <label for="col3-input-3">Град</label>
          <input type="text" id="col3-input-3" class="form-control text-margin" value="{{ vm.client.addresses[0].city }}" >
        </div>

        <div class="col-md-4 form-padding">
          <label for="col2-input-09">Област</label>
          <input type="text" id="col2-input-09" class="form-control text-margin" value="{{ vm.client.addresses[0].city }}">

          <label for="col3-input-3">Пощенски код</label>
          <input type="text" id="col3-input-3" class="form-control text-margin" value="{{ vm.client.addresses[0].post_code }}" >
        </div>

        <div class="col-md-4 form-padding">
          <label for="col2-input-09">Държава</label>
          <input type="text" id="col2-input-09" class="form-control text-margin" value="{{ vm.client.addresses[0].country }}" >

          <label for="col3-input-3">Телефон</label>
          <input type="text" id="col3-input-3" class="form-control text-margin" value="{{ vm.client.addresses[0].phone }}" >
        </div>

        <div class="col-md-12 "  style="padding-top: 30px;">
          <button class="btn btn-default" ng-click=""><span></span>Cancel</button>

          <button class="btn btn-success" ng-click="vm.registerClient()"><span class="glyphicon glyphicon glyphicon-floppy-saved"></span> Save</button>
        </div>
  </tab>
</tabset>
    </div>
